h6
{
    color: white;
    font-style: bold;
    font-size: 15px;
    }
    body
    {
        background-image: url(palindrome\ image.jpg)
    }
    h1
    {
        color: whitesmoke;
        font-family:'Times New Roman', Times, serif;
        text-align: center
    }
    form
    {
        text-align: center;
    }